:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  --main-color: rgb(47, 187, 187);
  --bg-color: #1a1a1a;
  --control-color: #2f2f2f;
  --body-color: #242424;
  background-color: var(--bg-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ast {
  color: rgb(25, 191, 209);
}

.quote {
  color: rgb(232, 127, 29);
}

.code {
  background-color: var(--bg-color);
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

@font-face {
  font-family: "icon";
  src: url('byom_icons/Byom-Icons-Trial.ttf');
}

.icon {
  font-family: "icon";
  text-decoration: none;
  font-style: normal;
  background: none;
}

textarea:focus {
  outline: none;
}

.highlight {
  color: white;
  transition:
    color 250ms ease  
  ;
}

.highlight:hover {
  color: var(--main-color);
}

.highlight * {
  color: white;
  transition:
    color 250ms ease  
  ;
}

.highlight:hover * {
  color: var(--main-color);
}

* {
  color: white;
}

#app {
  flex-direction: row;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

input {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  outline: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

.card {
  padding: 2em;
}